/* font */
@font-face {
  font-family: "park";
  src: url("./fonts/Pak_Yong_jun.ttf");
}

@font-face {
  font-family: 'JS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gmk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* scroll */
.list{
  width:100%; 
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  
}

/* .list:nth-child(1){
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
} */

.list:nth-child(2){
  background-image :url('./img/1.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}

.list:nth-child(3){
  background-image :url('./img/11.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}

.list:nth-child(4){
  background-image :url('./img/111.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}

.list:nth-child(5){
  background-image :url('./img/1111.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}

.list:nth-child(6){
  background-image :url('./img/4.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; 
}

@font-face {
  font-family: 'Hallym';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}


/* upload file blank */
#form-file-upload {
  height: 20rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 3px;
  border-radius: 6px;
  border-style: dashed;
  border-color: #4F0113;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


